<div class="main">
    <div class="titlecontainer">
        <div class="title">
            <h1>Manhattan League</h1>
        </div>
    </div>

    <div class="globalstandingandpool">

        <div class="globalstanding">
            <h3>Global standing</h3>

            <table class="demo">

                <thead>
                    <tr>
                        <th>User</th>
                        <th>Points</th>
                        <!-- <th>Points</th>
                        <th>Prize (ETH)</th>
                        <th>Ticket N</th> -->
                    </tr>
                </thead>
                <tbody>

                    <tr class="linebluered">
                        <td>&nbsp;Lucas</td>
                        <td>&nbsp;0</td>
                        <!-- <td>&nbsp;58</td>
                            <td>&nbsp;10</td>
                            <td>421&nbsp;</td> -->
                    </tr>


                    <tr class="linewhite">
                        <td>&nbsp;Mike</td>
                        <td>&nbsp;0</td>
                        <!--  <td>&nbsp;56</td>
                            <td>7.5&nbsp;</td>
                            <td>&nbsp;27</td> -->
                    </tr>

                    <tr class="lineblue">
                        <td>&nbsp;Jorge</td>
                        <td>&nbsp;0</td>
                        <!--  <td>&nbsp;54</td>
                            <td>&nbsp;6</td>
                            <td>&nbsp;89</td> -->
                    </tr>

                    <tr class="linewhite">
                        <td>&nbsp;Sofia</td>
                        <td>&nbsp;0</td>
                        <!-- <td>&nbsp;48</td>
                            <td>&nbsp;4.5</td>
                            <td>&nbsp;4</td> -->
                    </tr>

                    <tr class="lineblue">
                        <td>&nbsp;John</td>
                        <td>&nbsp;0</td>
                        <!-- <td>&nbsp;46</td>
                            <td>&nbsp;3</td>
                            <td>&nbsp;126</td> -->
                    </tr>

                    <tr class="linewhite">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="lineblue">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="linewhite">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="lineblue">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="linewhite">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="lineblue">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="linewhite">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="lineblue">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="linewhite">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="lineblue">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="linewhite">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="lineblue">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="linewhite">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="lineblue">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>
                    <tr class="linewhite">
                        <td class="vacant">&nbsp;Open</td>
                        <td class="vacant">&nbsp;0</td>
                    </tr>





                    <tbody>
            </table>

        </div>
        <div class="container-pot">
            <p class="ppricepot">Private league details</p>
            <div class="container">
                <div class="datecreation">
                    <p class="date">League creation: </p>
                    <p class="datered"> 21/1/2018 </p>
                </div>
                <div class="creator">
                    <p class="user">Creator: </p>
                    <p class="username"> Impervius </p>
                </div>
                <div class="league-duration">
                    <p class="duration">Beginning:</p>
                    <p class="starts-in">Starts in 5 days</p>
                </div>
                <div class="league-duration">
                    <p class="duration"> League duration: </p>
                    <p class="series"> 4 series</p>
                </div>
            </div>
            <div class="img-prize">

                <img src="assets/copa.svg" alt="">

                <div class="amount-accomulated">
                    <p class="accomulated">Prize pot </p>

                    <div class="container">
                        <p class="amountprice"> 105.7 ETH</p>
                    </div>

                </div>
            </div>
            <!-- <div class="players">
                <p class="amountplayers">Tokens per player:</p>
                <p class="registeredamountplayers">3.1 Tokens</p>
            </div> -->
            <div class="join-button">
                <div class="fee">
                    <p class="feetxt">Entry fee: </p>
                    <p class="rfeetxt"> 0.5 ETH</p>
                </div>
                <input class="joinbutton" type="button" value="JOIN NOW">
            </div>


        </div>
    </div>

    <br>
    <div class="coming-soon">

        <p class="coming-soon-text">MORE COMING SOON</p>
 
<!-- 
    <p class="weeks1-4"> All weeks</p>

    <hr class="hrweeks">
    <div class="positionboxes">
        <div class="box2">


            <table class="demo2">
                <div class="gtitle">
                    <h3>Week 1</h3>
                </div>


                <tr>
                    <th>User</th>
                    <th>Points</th>
                </tr>
                <tbody>
                    <tr class="lineblue">
                        <td>&nbsp;Sofia</td>
                        <td>&nbsp;0</td>
                    </tr>
                    <tr class="linewhite">
                        <td>&nbsp;Mike</td>
                        <td>&nbsp;0</td>
                    </tr>
                    <tr class="linebluered">
                        <td>Lucas</td>
                        <td>&nbsp;0</td>
                    </tr>
                    <tr class="linewhite">
                        <td>&nbsp;John</td>
                        <td>&nbsp;0</td>
                    </tr>
                    <tr class="lineblue">
                        <td>&nbsp;Jorge</td>
                        <td>&nbsp;0</td>
                    </tr>
                    <tbody>
            </table>

        </div>
        <div class="box2">


            <table class="demo2">
                <div class="gtitle">
                    <h3>Week 2</h3>
                </div>


                <tr>
                    <th>User</th>
                    <th>Points</th>
                </tr>


                <tr class="lineblue">
                    <td>&nbsp;Jorge</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linewhite">
                    <td>&nbsp;Sofia</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="lineblue">
                    <td>Mike</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linewhite">
                    <td>&nbsp;John</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linebluered">
                    <td>&nbsp;Lucas</td>
                    <td>&nbsp;0</td>
                </tr>

            </table>

        </div>
        <div class="box2">

            <table class="demo2">
                <div class="gtitle">
                    <h3>Week 3</h3>
                </div>
                <tr>
                    <th>User</th>
                    <th>Points</th>
                </tr>


                <tr class="linebluered">
                    <td>&nbsp;Lucas</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linewhite">
                    <td>&nbsp;Jorge</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="lineblue">
                    <td>John</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linewhite">
                    <td>&nbsp;Mike</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="lineblue">
                    <td>&nbsp;Sofia</td>
                    <td>&nbsp;0</td>
                </tr>

            </table>

       </div> 

        <div class="box2">

            <table class="demo2">
                <div class="gtitle">
                    <h3>Week 4</h3>
                </div>
                <tr>
                    <th>User</th>
                    <th>Points</th>
                </tr>


                <tr class="linebluered">
                    <td>&nbsp;Lucas</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linewhite">
                    <td>&nbsp;Jorge</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="lineblue">
                    <td>John</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linewhite">
                    <td>&nbsp;Mike</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="lineblue">
                    <td>&nbsp;Sofia</td>
                    <td>&nbsp;0</td>
                </tr>

            </table>

        </div>

    </div>
 -->

  </div>
</div>