<div class="main">
    <div class="tittle">
        <h1>Pagina Marian</h1>
    </div>
    <!-- <div class="heroimage"></div> -->
</div>

<hr/>

<div class="boxandtextthing">
    <div class="boxrow">
        <div class=boxes1row>
            <div class="box1"></div>
            <div class="box1hidden"></div>
        </div>
        <div class="boxes2row">
            <div class="box2"></div>
            <div class="box2hidden"></div>
        </div>
        <div class="boxes3row">
            <div class="box3"></div>
            <div class="box3hidden"></div>
        </div>
    </div>

    <div class="text">
        <h3>Token predictions</h3>
        <p>Predicting user how for making decitions and analyzing markets</p>
    </div>
</div>
<hr/>
<div class="listandimage">
    <div class="list">
        <ul>
            <li>Dia 1 - 23 tokens</li>
            <li>Dia 2 - 24 tokens</li>
            <li>Dia 3 - 25 tokens</li>
            <li>Dia 4 - 26 tokens</li>
            <li>Dia 5 - 27 tokens</li>
        </ul>
    </div>
    <div class="lineimage"></div>
</div>
<div class="inputnumeros">
    <p>p con un numero</p>
    <input type="number">
    <button>ADD</button>


</div>

<div class="footer">
    <div class="name">
        <h3> Marian work</h3>
    </div>
    <div class="date">
        <h2 id="white">20/9</h2>
    </div>
</div>