@mixin zebra-shadow($size, $colors) {
    $text-shadow: ();
    @for $i from 1 through length($colors) {
        @for $j from 0 through $size {
            $pos: (($i - 1) * $size + $j) * 1px;
            $text-shadow: append( $text-shadow, $pos $pos nth($colors, $i), 'comma');
        }
    }
    text-shadow: $text-shadow;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0E0F33;
}

h1 {
    font: bold 36vmin/1 'Cinzel', serif;
    color: #fff;
    animation: text-shadow .75s linear infinite;
}

@keyframes text-shadow {
    $red: #F40000;
    $green: #28D58F;
    $blue: #15007F;
    $yellow: #FFBA00;
    $pink: #FD138A;
    from,
    19.9% {
        @include zebra-shadow(5, ( $blue, $pink, $yellow, $red, $green, $blue, $pink, $yellow, $red, $green));
    }
    20%,
    39.9% {
        @include zebra-shadow(5, ( $green, $blue, $pink, $yellow, $red, $green, $blue, $pink, $yellow, $red));
    }
    40%,
    59.9% {
        @include zebra-shadow(5, ( $red, $green, $blue, $pink, $yellow, $red, $green, $blue, $pink, $yellow));
    }
    60%,
    79.9% {
        @include zebra-shadow(5, ( $yellow, $red, $green, $blue, $pink, $yellow, $red, $green, $blue, $pink, ));
    }
    80%,
    to {
        @include zebra-shadow(5, ( $pink, $yellow, $red, $green, $blue, $pink, $yellow, $red, $green, $blue));
    }
}

.main {
    /* list-style: armenian; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    height: 100vh;
    background-color: #B5D8F5;
    background-image: url("/assets/heroimage.jpg");
    h3 {
        color: white;
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
        /* margin-bottom: 500px; */
        /* margin-top: 150px; */
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

hr {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background-color: #B5D8F5;
    border-color: #B5D8F5;
    margin-top: 20px;
}

.boxandtextthing {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .boxrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
} */

.boxes1row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.boxes2row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.boxes3row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.box1 {
    order: 2;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    /* margin-right: 250px;  */
    background-color: #5046F4;
}

.box1hidden {
    order: 1;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #5046F4;
    visibility: hidden;
}

.box2 {
    height: 50px;
    width: 50px;
    background-color: #71EE50;
    border-radius: 5px;
}

.box2hidden {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #5046F4;
    visibility: hidden;
}

.box3 {
    order: 2;
    height: 50px;
    width: 50px;
    background-color: #F631F3;
    border-radius: 5px;
}

.box3hidden {
    order: 1;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #5046F4;
    visibility: hidden;
}


/*
.heroimage{

background-size: cover;
background-attachment: scroll;
background-image:url("https://wallpapercave.com/wp/wp2054299.jpg");
//background-image:url("/basic web/heroimage")
//background-image:url("../basic web/heroimage")
//background-image:url("../../basic web/heroimage")


}
*/

.text {
    margin-left: 100px;
    font-size: large;
    font-family: sans-serif;
}

.listandimage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.lineimage {
    margin-top: 18px;
    margin-bottom: 18px;
    order: 2;
    content: url(http://lbanegas.com/lecciones/capitulo02/clips/linea1.png);
    margin-left: 100px;
}

.list {
    order: 1;
    font-size: x-large;
    font-family: sans-serif;
    color: rgb(22, 1, 43);
}

.inputnumeros {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    font-family: Jura-Bold;
    font-size: 30px;
    color: #FFFFFF !important;
    background-color: #DE4E58 !important;
    border: 5px solid #FB7A83;
    border-radius: 6px;
    padding: 12px 30px;
    margin: 32px 6px;
    z-index: 3;
    outline: none;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.footer {
    display: flex;
    height: 100px;
    background-color: rgb(56, 186, 212);
    flex-direction: row;
    justify-content: space-around;
}

.name {
    order: 1;
    margin-left: 25px;
    font-family: monospace;
    color: white;
    font-size: -webkit-xxx-large;
}

.date {
    color: snow;
    /* margin-right: -4px; */
    /* margin-top: 69px; */
    font-size: -webkit-xxx-large;
    font-family: monospace;
}

#white {
    color: white;
}