<div class="main">
    <div class="titlecontainer">
        <div class="title">
            <h1>Manhattan League</h1>
        </div>
    </div>

    <div class="globalstandingandpool">

        <div class="globalstanding">
            <div class="gtitle">
                <h3>Global Standing</h3>
            </div>

            <div class="gtable">

                <table class="demo">

                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Points</th>
                            <!-- <th>Points</th>
                            <th>Prize (ETH)</th>
                            <th>Ticket N</th> -->
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="linebluered">
                            <td>&nbsp;Lucas</td>
                            <td>&nbsp;0</td>
                            <!-- <td>&nbsp;58</td>
                                <td>&nbsp;10</td>
                                <td>421&nbsp;</td> -->
                        </tr>


                        <tr class="linewhite">
                            <td>&nbsp;Mike</td>
                            <td>&nbsp;0</td>
                            <!--  <td>&nbsp;56</td>
                                <td>7.5&nbsp;</td>
                                <td>&nbsp;27</td> -->
                        </tr>

                        <tr class="lineblue">
                            <td>&nbsp;Jorge</td>
                            <td>&nbsp;0</td>
                            <!--  <td>&nbsp;54</td>
                                <td>&nbsp;6</td>
                                <td>&nbsp;89</td> -->
                        </tr>

                        <tr class="linewhite">
                            <td>&nbsp;Sofia</td>
                            <td>&nbsp;0</td>
                            <!-- <td>&nbsp;48</td>
                                <td>&nbsp;4.5</td>
                                <td>&nbsp;4</td> -->
                        </tr>

                        <tr class="lineblue">
                            <td>&nbsp;John</td>
                            <td>&nbsp;0</td>
                            <!-- <td>&nbsp;46</td>
                                <td>&nbsp;3</td>
                                <td>&nbsp;126</td> -->
                        </tr>

                        <tr class="linewhite">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="lineblue">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="linewhite">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="lineblue">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="linewhite">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="lineblue">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="linewhite">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="lineblue">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="linewhite">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="lineblue">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="linewhite">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="lineblue">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="linewhite">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="lineblue">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="linewhite">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="lineblue">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="linewhite">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>
                        <tr class="lineblue">
                            <td class="vacant">&nbsp;Open</td>
                            <td class="vacant">&nbsp;0</td>
                        </tr>




                        <tbody>
                </table>
            </div>
        </div>
        <div class="container-pot">
            <div class="ppricepot">
                <p>PRICE POT</p>
            </div>
            <div class="pricepot">
                <img src="assets/copa.svg" alt="">
            </div>
            <div class="fee">
                <div class="feetxt">
                    <p>Entry fee: </p>
                </div>
                <div class="rfeetxt">
                    <p> 0.5 ETH</p>
                </div>
            </div>
            <div class="amountprice">
                <p> PRICE: 105.7 ETH</p>
            </div>
        </div>
    </div>


    <div class="join-button">
        <div class="players">
            <div class="amountplayers">
                <p>Tokens per player</p>
            </div>
            <div class="registeredamountplayers">
                <p>3.1 Tokens</p>
            </div>
        </div>
        <div class="fee">
            <div class="feetxt">
                <p>Entry fee: </p>
            </div>
            <div class="rfeetxt">
                <p> 0.5 ETH</p>
            </div>
        </div>
        <div class="join">
            <input class="joinbutton" type="button" value="JOIN NOW">
        </div>
        <div class="status">
            <div class="pstatus">
                <p>Current status: </p>
            </div>
            <div class="livestatus">
                <p>4 Days till start</p>
            </div>
        </div>
    </div>
    <div class="positionboxes">
        <div class="box2">


            <table class="demo2">
                <div class="gtitle">
                    <h3>Week 1</h3>
                </div>


                <tr>
                    <th>User</th>
                    <th>Points</th>
                </tr>
                <tbody>
                    <tr class="lineblue">
                        <td>&nbsp;Sofia</td>
                        <td>&nbsp;0</td>
                    </tr>
                    <tr class="linewhite">
                        <td>&nbsp;Mike</td>
                        <td>&nbsp;0</td>
                    </tr>
                    <tr class="linebluered">
                        <td>Lucas</td>
                        <td>&nbsp;0</td>
                    </tr>
                    <tr class="linewhite">
                        <td>&nbsp;John</td>
                        <td>&nbsp;0</td>
                    </tr>
                    <tr class="lineblue">
                        <td>&nbsp;Jorge</td>
                        <td>&nbsp;0</td>
                    </tr>
                    <tbody>
            </table>

        </div>
        <div class="box2">


            <table class="demo2">
                <div class="gtitle">
                    <h3>Week 2</h3>
                </div>


                <tr>
                    <th>User</th>
                    <th>Points</th>
                </tr>


                <tr class="lineblue">
                    <td>&nbsp;Jorge</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linewhite">
                    <td>&nbsp;Sofia</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="lineblue">
                    <td>Mike</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linewhite">
                    <td>&nbsp;John</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linebluered">
                    <td>&nbsp;Lucas</td>
                    <td>&nbsp;0</td>
                </tr>

            </table>

        </div>
        <div class="box2">

            <table class="demo2">
                <div class="gtitle">
                    <h3>Week 3</h3>
                </div>
                <tr>
                    <th>User</th>
                    <th>Points</th>
                </tr>


                <tr class="linebluered">
                    <td>&nbsp;Lucas</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linewhite">
                    <td>&nbsp;Jorge</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="lineblue">
                    <td>John</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linewhite">
                    <td>&nbsp;Mike</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="lineblue">
                    <td>&nbsp;Sofia</td>
                    <td>&nbsp;0</td>
                </tr>

            </table>

        </div>

        <div class="box2">

            <table class="demo2">
                <div class="gtitle">
                    <h3>Week 4</h3>
                </div>
                <tr>
                    <th>User</th>
                    <th>Points</th>
                </tr>


                <tr class="linebluered">
                    <td>&nbsp;Lucas</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linewhite">
                    <td>&nbsp;Jorge</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="lineblue">
                    <td>John</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="linewhite">
                    <td>&nbsp;Mike</td>
                    <td>&nbsp;0</td>
                </tr>
                <tr class="lineblue">
                    <td>&nbsp;Sofia</td>
                    <td>&nbsp;0</td>
                </tr>

            </table>

        </div>

    </div>

</div>