////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@font-face {
  font-family: 'Jura-Medium';
  src: url('/assets/fonts/Jura-Medium.ttf');
  font-display: fallback;
}

    
h1, h2, h3, h4, p, div, input{
    font-family: Jura-Medium;
}
h1{
    font-size: 38px;
}


.titlecontainer {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: #d9e8f4;
    background-image: url(/assets/images/patterns/patt_large_blue.svg);
    background-size: 250px;
}

.title {
    font-size: 35px;
    color: #346DAB;
    font-weight: normal;
}
/* hr {
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    } */

.globalstandingandbutton {
    display: flex;
    /* width: 1240px; */
    justify-content: space-evenly;
    margin-top: 32px;
}

.globalstanding {
    margin: 0 auto;
    padding: 6px 16px;
    max-width: 503px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50px;
    background-color: white;
    margin: 0 5px 10px 5px;
    box-shadow: 0 2px 4px 0 rgba(52, 109, 171, 0.51);
    border-radius: 2px;
    border-top: solid 3px #5D95CE;
    margin-right: -242px;
}
/* .gtable {} */

.gtitle {
    font-size: 22px;
    color: #346DAB;
    font-weight: bold;
}

.hrdotted {
    border: none;
    border-top: 5px dotted #336fdc;
    color: #fff;
    background-color: #fff;
    height: 4px;
    width: 100%;
}
/*  .hrdotted2 {
        border: none;
        border-top: 5px dotted #336fdc;
        color: #fff;
        background-color: #fff;
        height: 4px;
        width: 100%; 
}
*/

.demo {
    border-collapse: collapse;
    border-spacing: 13px;
    padding: 0px;
    text-align: center;
}

th {
    font-size: 19px;
    color: #999999;
    font-weight: normal;
    text-align: center;
}

td {
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
}

.lineblue {
    background-color: #D9E8F4;
    border-radius: 4px;
}

.linebluered {
    background-color: #D9E8F4;
    border-radius: 4px;
    border: 5px solid #FB7A83
}

.linewhite {
    border-radius: 4px;
}

.lineblue:hover {
    background-color: #fcefc3;
}

.linewhite:hover {
    background-color: #fcefc3;
}

.linebluered:hover {
    background-color: #fcefc3;
}

.joinbutton {
    position: relative;
    font-size: 30px;
    color: #FFFFFF !important;
    background-color: #DE4E58 !important;
    border: 5px solid #FB7A83;
    border-radius: 6px;
    padding: 12px 30px;
    margin: 32px 6px;
    z-index: 3;
    outline: none;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.join.button.info {
    margin-left: -253px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.feetxt {
    position: relative;
    font-size: 30px;
    color: #346DAB;
    font-weight: normal;
}

.rfeetxt {
    position: relative;
    font-size: 30px;
    color: #DE4E58;
    font-weight: normal;
    margin-left: 15px;
}

.amountplayers {
    position: relative;
    font-size: 30px;
    color: #DE4E58;
    font-weight: normal;
    /*  justify-content: center; */
    display: flex;
    margin-top: -30px;
}

.registeredamountplayers {
    position: relative;
    font-size: 30px;
    color: #346DAB;
    font-weight: normal;
}

.fee {
    display: flex;
    flex-direction: row;
}

.players {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.status {
    display: flex;
    flex-direction: row;
}

.pstatus {
    position: relative;
    font-size: 30px;
    color: #DE4E58;
    font-weight: normal;
    justify-content: center;
    display: flex;
}

.livestatus {
    position: relative;
    font-size: 30px;
    color: #346DAB;
    font-weight: normal;
    margin-left: 7.5px;
}

.pricepot {
    position: absolute;
    top: 740px;
    left: 859px;
}

.ppricepot {
    position: absolute;
    top: 632px;
    left: 907px;
    font-size: 42px;
    color: #346DAB;
    font-weight: normal;
}

.amountprice {
    position: absolute;
    top: 1018px;
    left: 868px;
    font-size: 30px;
    color: #FFFFFF !important;
    background-color: #DE4E58 !important;
    border: 4px solid #FB7A83;
    border-radius: 55px;
    padding: 0px 69px;
    margin: 29px 6px;
    z-index: 3;
    outline: none;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.box {
    margin: 0 auto;
    padding: 6px 16px;
    max-width: 503px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50px;
    background-color: white;
    margin: 0 5px 10px 5px;
    box-shadow: 0 2px 4px 0 rgba(52, 109, 171, 0.51);
    border-radius: 2px;
    border-top: solid 3px #DE4E58;
}

.positionboxes {
    display: flex;
    justify-content: space-evenly;
}

.pot {
    height: 560px;
}