<div class="container">
    <h1>Aca va el nuevo componente</h1>

    <p>siiiiiiiiiiiiiiiiiiiiiii</p>
</div>

<h1>efusebfub</h1>

<!-- 
  Jura-Medium

  Titulo: nombre de private (Manhattan league)
  Subtitulo (opcionalmente): This is the homepage for your private league
  Podrias usar el header celeste + el azul

  Info basica
  4 Fechas  
  5+ Jugadores
  Puntos de los jugadores y posiciones
  Entry fee
  Total balance del coso

  Info extra
  Cuantos y cuales tokens de cada jugador
  Creador de la liga
  Fecha de creación de la liga

-->