
<div class="main">

  <hr class="header">

  <div class="page-title">

    <p>PAGINA DE MARIAN</p>

  </div>

  <hr class="header">

  
  <div class="box-text">
    <div class="box">
      <div class="row1">
        <div class="visible-box">
          </div>
        <div class="invisible-box">
          </div>
      </div>
      <div class="row2">
        <div class="visible-box2">
          </div>
        <div class="invisible-box2">
          </div>
      </div>
      <div class="row3">
        <div class="visible-box">
          </div>
        <div class="invisible-box">
          </div>
      </div>


    </div>

    <div class="text">
      <h3> TOKEN PREDICTIONS</h3>
        <br>
        <p>Predictig users how for making decitions and analyzing markets
          <br>
          <br>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor turp
          is eget lobortis consectetur. Integer pellentesque nisi ac purus elementum hendrerit. Donec 
          vitae laoreet dui, ac efficitur libero. Quisque congue, purus sed sodales egestas, odio risus ullamcorper leo, non finibus neque metus 
        </p>

    </div>

  </div>

  <hr class="header">

  <div class="texto-image">
    <div class="texto">
      <ul>
          <li>
          Dia 1 - 23 tokens vendidos
          </li>
        <br>
          <li>
          Dia 2 - 23 tokens vendidos      
          </li>
        <br>
          <li>
          Dia 3 - 23 tokens vendidos
          </li>
        <br>
          <li>
          Dia 4 - 23 tokens vendidos
          </li>
        <br>
          <li>
          Dia 5 - 23 tokens vendidos
          </li>
        <br>
          <li>
          Dia 6 - 23 tokens vendidos
          </li>
        <br>
      </ul>

    </div>  

    <img class="image" src='/assets/imagegraph.png' >

  </div>

    <div class="footer">
      <h3 class="made-by-marian"> Web de marian</h3>
      <h3 class="fecha"> 24/1</h3>
    </div>
</div>
